<a href="https://colab.research.google.com/github/jakekrafczyk/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." ‚Äî‚ÄâPedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." ‚Äî‚ÄâAndrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [0]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
df.dtypes

bathrooms               float64
bedrooms                  int64
created                  object
description              object
display_address          object
latitude                float64
longitude               float64
price                     int64
street_address           object
interest_level           object
elevator                  int64
cats_allowed              int64
hardwood_floors           int64
dogs_allowed              int64
doorman                   int64
dishwasher                int64
no_fee                    int64
laundry_in_building       int64
fitness_center            int64
pre-war                   int64
laundry_in_unit           int64
roof_deck                 int64
outdoor_space             int64
dining_room               int64
high_speed_internet       int64
balcony                   int64
swimming_pool             int64
new_construction          int64
terrace                   int64
exclusive                 int64
loft                      int64
garden_patio              int64
wheelchair_access         int64
common_outdoor_space      int64
dtype: object

In [0]:
df['created'] = pd.to_datetime(df.created)
print(df.created)

0       2016-06-24 07:54:24
1       2016-06-12 12:19:27
2       2016-04-17 03:26:41
3       2016-04-18 02:22:02
4       2016-04-28 01:32:41
                ...
49347   2016-06-02 05:41:05
49348   2016-04-04 18:22:34
49349   2016-04-16 02:13:40
49350   2016-04-08 02:13:33
49351   2016-04-12 02:48:07
Name: created, Length: 48817, dtype: datetime64[ns]

In [0]:
train = df[df['created'] < '2016-06-01']
test = df[df['created'] >= '2016-06-01']
test.head()

    bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0         1.5         3  ...                 0                    0
1         1.0         2  ...                 0                    0
11        1.0         1  ...                 0                    0
14        1.0         1  ...                 0                    0
24        2.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
perks = ['elevator','cats_allowed','hardwood_floors','dogs_allowed','doorman','dishwasher','no_fee',
         'laundry_in_building','fitness_center','pre-war','laundry_in_unit','roof_deck','outdoor_space',
         'dining_room','high_speed_internet','balcony','swimming_pool','new_construction','terrace','exclusive',
         'loft','garden_patio','wheelchair_access','common_outdoor_space']


df['total_perks'] = df[perks].apply(sum,axis=1)
print(df.total_perks)

0        0
1        5
2        3
3        2
4        1
        ..
49347    5
49348    9
49349    5
49350    5
49351    1
Name: total_perks, Length: 48817, dtype: int64

In [0]:
# engineer description length feature - this will serve as a proxy for the level of detail provided about the apartment
df['desc_length'] = df.description.apply(str).apply(len)
print(df.desc_length[1:12])
print(df.description[9])

1        8
2      691
3      492
4      479
5        8
6      579
7      948
8       24
9     1052
10     168
11     690
Name: desc_length, dtype: int64
This is a spacious four bedroom with every bedroom able to fit queen sized beds with windows and closets and room to spare.  There are ceiling fans and Exposed brick scattered throughout the apartment.  It also has High ceilings, great hardwood floors, an excellent open kitchen with a dishwasher and room for a table, Really great living room that fits a wrap around couch and windows throughout the apartment.<br /><br />Located in the heart of the lower East side you can't help but notice all the neighborhood bars, restaurants, cafes, and boutique shopping.<br /><br />Call, text, or e-mail me today to set up a private viewing.<br /><br /><br /><br />-------------Listing courtesy of Miron Properties. All material herein is intended for information purposes only and has been compiled from sources deemed reliable. Though information is believed to be correct, it is presented subject to errors, omissions, changes or withdrawal without notice.  Miron Properties is a licensed Real Estate Broker.  www.MironProperties.com<p><a  website_redacted

In [0]:
# recreate train and test sets with added features
train = df[df['created'] < '2016-06-01']
test = df[df['created'] >= '2016-06-01']
test.head()

    bathrooms  bedrooms  ... total_perks desc_length
0         1.5         3  ...           0         588
1         1.0         2  ...           5           8
11        1.0         1  ...           0         690
14        1.0         1  ...           3         569
24        2.0         4  ...          11         870

[5 rows x 36 columns]

In [0]:
# set features and target
features = ['bedrooms','total_perks','desc_length']
target = ['price']

# get train x and y, test x and y
xtrain = train[features]
ytrain = train[target]
xtest = test[features]
ytest = test[target]

In [0]:
#Fit a linear regression model with at least two features.
 from sklearn.linear_model import LinearRegression

 #instantiate
 model = LinearRegression()

 #fit model
 model.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
#Get the model's coefficients and intercept.
coef = model.coef_
intercept = model.intercept_
print(coef, intercept)

[[8.10347714e+02 1.23766239e+02 2.25690241e-02]] [1740.48684693]

In [0]:
# Get regression metrics RMSE, MAE, and  ùëÖ2 , for both the train and test data.
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

#get prediction values first
trainy_pred = model.predict(xtrain)
testy_pred = model.predict(xtest)

#now regression metrics for the TRAINING values
r2_train = r2_score(train.price,trainy_pred)
rmse_train = mean_squared_error(train.price,trainy_pred)
mae_train = mean_absolute_error(train.price,trainy_pred)

print('R2:',r2_train,'RMSE:',rmse_train,'MAE:',mae_train)

R2: 0.3464832485988839 RMSE: 2029187.9539650811 MAE: 924.4125930968543

In [0]:
#regression metrics for the TESTING values
r2_test = r2_score(test.price,testy_pred)
rmse_test = mean_squared_error(test.price,testy_pred)
mae_test = mean_absolute_error(test.price,testy_pred)

print('R2:',r2_test,'RMSE:',rmse_test,'MAE:',mae_test)

R2: 0.34662237180379296 RMSE: 2030711.5643728755 MAE: 934.5370207064406