<a href="https://colab.research.google.com/github/jakekrafczyk/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [0]:
df.head(20)

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
0    California  1/18/2016   3.5     4.2  ...     NaN   NaN       NaN  False
1    California  1/24/2016   3.5     3.3  ...     NaN   NaN       NaN  False
2      Carnitas  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
3         Asada  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
4    California  1/27/2016   4.0     3.8  ...     NaN   NaN       NaN   True
5         Other  1/28/2016   NaN     NaN  ...     NaN   NaN       NaN  False
6    California  1/30/2016   3.0     2.9  ...     NaN   NaN       NaN  False
7      Carnitas  1/30/2016   NaN     NaN  ...     NaN   NaN       NaN  False
8    California   2/1/2016   3.0     3.7  ...     NaN   NaN       NaN  False
9         Asada   2/6/2016   4.0     4.1  ...     NaN   NaN       NaN  False
10  Surf & Turf   2/6/2016   NaN     NaN  ...     NaN   NaN       NaN  False
11        Other  2/11/2016   3.0     4.1  ...     NaN   NaN       NaN  False
12   California  2/11/2016   NaN     NaN  ...     NaN   NaN       NaN  False
13        Other  2/11/2016   NaN     NaN  ...     NaN   NaN       NaN  False
14   California  2/11/2016   NaN     NaN  ...     NaN   NaN       NaN  False
15   California  2/12/2016   4.5     4.4  ...     NaN   NaN       NaN   True
16  Surf & Turf  2/12/2016   NaN     NaN  ...     NaN   NaN       NaN   True
17        Other  2/14/2016   4.0     4.5  ...     NaN   NaN       NaN   True
18        Other  2/14/2016   NaN     NaN  ...     NaN   NaN       NaN   True
19   California  2/17/2016   2.5     4.0  ...     NaN   NaN       NaN  False

[20 rows x 59 columns]

In [0]:
df.describe()

            Yelp     Google        Cost  ...     Synergy        Wrap  Queso
count  87.000000  87.000000  414.000000  ...  419.000000  418.000000    0.0
mean    3.887356   4.167816    7.067343  ...    3.586993    3.979904    NaN
std     0.475396   0.373698    1.506742  ...    0.886807    1.118185    NaN
min     2.500000   2.900000    2.990000  ...    1.000000    0.000000    NaN
25%     3.500000   4.000000    6.250000  ...    3.000000    3.500000    NaN
50%     4.000000   4.200000    6.990000  ...    3.800000    4.000000    NaN
75%     4.000000   4.400000    7.880000  ...    4.000000    5.000000    NaN
max     4.500000   5.000000   25.000000  ...    5.000000    5.000000    NaN

[8 rows x 19 columns]

In [0]:
df.isnull().sum()
#df[df.Cost.isnull()==True]

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                0
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             0
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [0]:
# Impute missing values
from sklearn.impute import SimpleImputer
import numpy as np
imputer = SimpleImputer()
df['Cost'] = imputer.fit_transform(pd.DataFrame(df['Cost']))  # HAVE TO CHANGE THE COLUMN TO A DATAFRAME FORMAT
df.Cost.isnull().sum()

0

In [0]:
df[df.Synergy.isnull()==True]

       Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
19  California 2016-02-17   2.5     4.0  ...     NaN   NaN       NaN  False
20  California 2016-02-17   NaN     NaN  ...     NaN   NaN       NaN  False

[2 rows x 59 columns]

In [0]:
df['Synergy'] = imputer.fit_transform(pd.DataFrame(df['Synergy']))  # HAVE TO CHANGE THE COLUMN TO A DATAFRAME FORMAT
df.Synergy.isnull().sum()

df['Meat'] = imputer.fit_transform(pd.DataFrame(df['Meat']))  # HAVE TO CHANGE THE COLUMN TO A DATAFRAME FORMAT
df.Meat.isnull().sum()

0

In [0]:
# Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later
import pandas as pd

df['Date'] = pd.to_datetime(df['Date'])

train = df[df['Date'] < '1/1/2018']
val = train[train['Date'] >= '1/1/2017']
train = train[train['Date'] < '1/1/2017']
test = df[df['Date'] >= '1/1/2018']
print(val)

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
301  California 2017-01-04   NaN     NaN  ...     NaN   NaN       NaN  False
302       Other 2017-01-04   NaN     NaN  ...     NaN   NaN       NaN  False
303       Other 2017-01-07   NaN     NaN  ...     NaN   NaN       NaN  False
304       Other 2017-01-07   NaN     NaN  ...     NaN   NaN       NaN  False
305       Other 2017-01-10   NaN     NaN  ...     NaN   NaN       NaN  False
..          ...        ...   ...     ...  ...     ...   ...       ...    ...
381  California 2017-09-05   NaN     NaN  ...     NaN   NaN       NaN   True
382  California 2017-09-05   NaN     NaN  ...     NaN   NaN       NaN   True
383       Other 2017-12-16   4.0     4.5  ...     NaN   NaN       NaN  False
384  California 2017-12-29   NaN     NaN  ...     NaN   NaN       NaN   True
385  California 2017-12-29   NaN     NaN  ...     NaN   NaN       NaN   True

[85 rows x 59 columns]

In [0]:
# Begin with baselines for classification
target = 'Great'
y_train = train[target]
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [0]:
# if we guess False for every observation our accuracy score would be 59%
# Use scikit-learn for logistic regression

from sklearn.linear_model import LogisticRegression
features = ['Cost']
log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(train[features], y_train)

X_val = val[features]
y_val = val[target]
print('Validation Accuracy', log_reg.score(X_val, y_val))

Validation Accuracy 0.5294117647058824

In [0]:
features = ['Synergy']
log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(train[features], y_train)

X_val = val[features]
y_val = val[target]
print('Validation Accuracy', log_reg.score(X_val, y_val))

Validation Accuracy 0.8117647058823529

In [0]:
features = ['Meat']
log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(train[features], y_train)

X_val = val[features]
y_val = val[target]
print('Validation Accuracy', log_reg.score(X_val, y_val))

Validation Accuracy 0.7411764705882353

In [0]:
features = ['Meat','Synergy']
log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(train[features], y_train)

X_val = val[features]
y_val = val[target]
print('Validation Accuracy', log_reg.score(X_val, y_val))

Validation Accuracy 0.8705882352941177

In [0]:
X_test = test[features]
y_test = test[target]

print('Test Accuracy', log_reg.score(X_test, y_test))

Test Accuracy 0.7368421052631579